p 
{
    font-family: 'Arvo', serif;
font-family: 'Indie Flower', cursive;
font-size: 30px;
text-align: center;
}

h1{
    text-align: center;
    text-emphasis-color:#02c2b8;
}

h2
{
    font-family: 'Arvo', serif;
font-family: 'Indie Flower', cursive;

text-align: center;
}